{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>    
    <article class="container-fluid p-lg-5 py-5 col-lg-10 cont-pange font">
        <h2 class="title">Editar Empleado: </h2>
        <hr>
        <h5 class="text text-end">Empleado: {{ empleado.usuario.nombre }} {{ empleado.usuario.apellido }} {{ empleado.usuario.apellidoM }} </h5>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark btn-sm">Guardar Cambios</button>
            <a href="{% url 'lista_empleados' %}" class="btn btn-outline-secondary btn-sm">Volver</a>
        </form>
    </article>

{% endblock %}
