{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<article class="container-fluid p-lg-5 py-5 cont-pange font ">
    <div class="row">
        <div class="col-lg-9 col-12 order-2 order-lg-1 ">
            <h2 class="title pb-3 pt-lg-5">Lista Empleados</h2>
            <div class="pt-lg-3">
                
            </div>
        </div>
        <div class="col-lg-3 col-12 order-1 order-lg-2 justify-content-end text-end">
            <img src="{% static 'img/logopie.png' %}" alt="Descripción de la imagen" style="height: 160px;" class="img-fluid">
        </div>
    </div>
    


<table class="table table-striped text-center">
    <thead class="table-color">
        <tr>
            <th>Foto</th>
            <th>Nombre Completo</th>
            <th>Ruta</th>
            <th>Domicilio</th>
            <th class="text-end px-5">Acciones</th>
        </tr>
    </thead>
    <tbody>
      {% for empleado in empleados %}
        <tr>
            <td data-label="Foto">
                {% if empleado.usuario.imagen %}
                    <img src="{{ empleado.usuario.imagen.url }}" alt="Imagen de {{ empleado.usuario.nombre }}" class="rounded-circle" width="40" height="40">
                {% else %}
                    <span>Sin imagen</span>
                {% endif %}
            </td>
            <td data-label="Empleado">{{ empleado.usuario.nombre }} {{ empleado.usuario.apellido }} {{ empleado.usuario.apellidoM }}</td>
            <td data-label="ruta">{{ empleado.division.ruta }}</td>
            <td data-label="domicilio">{{ empleado.domicilio }}</td>
            <td class="text-end" data-label="Accion">
                <!-- Enlace a la vista para asignar productos -->
                <a href="{% url 'asignar_productos' empleado.id %}" class="btn btn-sm btn-outline-success btn-sm"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggles" viewBox="0 0 16 16">
                    <path d="M4.5 9a3.5 3.5 0 1 0 0 7h7a3.5 3.5 0 1 0 0-7zm7 6a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m-7-14a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5m2.45 0A3.5 3.5 0 0 1 8 3.5 3.5 3.5 0 0 1 6.95 6h4.55a2.5 2.5 0 0 0 0-5zM4.5 0h7a3.5 3.5 0 1 1 0 7h-7a3.5 3.5 0 1 1 0-7"/>
                  </svg>
                  Asignar 
                </a>
                <a href="{% url 'editar_empleado' empleado.id %}" class="btn btn-warning text-white btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                  Editar
                </a>
            </td>
        </tr>
      {% empty %}
      <li>No hay empleados registrados.</li>
      {% endfor %}
    </tbody>
</table>

</article>
{% endblock %}

