{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class=" text container-fluid p-5 cont-pange">
    <h2 class="title">
        {% if form.instance.pk %}Editar
        {% else %}Crear{% endif %} Producto Retornable
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Actualizar
            {% else %}Crear
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
