<div class=" text container-fluid px-lg-5 px-2 py-2 cont-pange">

    <p class="title text-end"><strong>Detalle para:</strong> {{ venta.cliente }}</p>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Fecha:</strong> {{ venta.fecha }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Empleado:</strong> {{ venta.empleado }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Saldo Pendiente:</strong> {{ venta.saldo_pendiente }} Bs.</p>
        </div>
        <div class="col-md-6">
            <p><strong>Anticipo:</strong> {{ venta.anticipo }} Bs.</p>
        </div>
        <div class="col-md-6">
            <p<strong>deuda anterior:</strong> {{ venta.deuda_anterior }} aca loco </p>
        </div>
        
    </div>    
    {% if venta.productos.exists %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Tipo Producto</th>
                        <th>Estado</th>
                        <th>Precio Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in venta.productos.all %}
                    <tr>
                        <td data-label="Descripcion">{{ producto.descripcion }}</td>
                        <td data-label="tipo producto">{{ producto.tipo_producto.nombre }}</td>
                        <td data-label="estado">{{ producto.estado }}</td>
                        <td data-label="Precio">{{ producto.precio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                    <tr>
                        <td data-label="Producto">
                            {% if detalle.producto_no_retornable %}
                                {{ detalle.producto_no_retornable.tipo_producto.nombre }}
                            {% elif detalle.producto_retornable %}
                                {{ detalle.producto_retornable.tipo_producto.nombre }}
                            {% endif %}
                        </td>
                        <td data-label="cantidad">{{ detalle.cantidad }}</td>
                        <td data-label="Precio">
                            {% if detalle.producto_no_retornable %}
                                {{ detalle.producto_no_retornable.precio }}
                            {% elif detalle.producto_retornable %}
                                {{ detalle.producto_retornable.precio }}
                            {% endif %}
                        </td>
                        <td data-label="subtotal">{{ detalle.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="subtitle text-end py-2"><strong>Total:</strong> {{ venta.total }} Bs.</p>
</div>

