{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<article class="container-fluid p-lg-5 py-5 cont-pange font ">
    <div class="row">
        <div class="col-lg-9 col-12 order-2 order-lg-1">
            <h2 class="title pb-lg-3 pb-0 pt-lg-5 pt-0">Lista Clientes</h2>
            <div class="pt-lg-3 pt-0">
                
            </div>
        </div>
        <div class="col-lg-3 col-12 order-1 order-lg-2 justify-content-end text-end">
            <img src="{% static 'img/logopie.png' %}" alt="Descripción de la imagen" style="height: 160px;" class="img-fluid">
        </div>
    </div>
    <table class="table table-striped text-center">
        <thead class="table-color">
            <tr>
                <th>Imagen</th>
                <th>Negocio</th>
                <th>Responsble</th>
                <th>Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td data-label="Imagen">
                    {% if cliente.imagen %}
                    <img src="{{ cliente.imagen.url }}" alt="Imagen de {{ cliente.negocio }}" class="rounded-circle" width="40" height="40">
                    {% else %}
                    <span>Sin imagen</span>
                    {% endif %}
                </td>
                <td data-label="Negocio">{{ cliente.negocio }}</td>
                <td data-label="Cliente">{{ cliente.usuario.nombre }} {{ cliente.usuario.apellido }} {{ cliente.usuario.apellidoM }}</td>
                <td data-label="Contacto">{{ cliente.contacto }}</td>
                <td data-label="Accion">
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-warning text-white btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                          </svg>
                        Editar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}
